@use 'vars' as v;

#TranslatePage {

    &>header {
        width: 100%;
        height: 75px;
        margin-bottom: 20px;
    }

    main {
        width: 100%;

        .container {

            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            /* Smaller screen (mobile) */
            @media only screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            .languages {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;

                .swapBtn {

                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                    border-radius: 10px;

                    .swapIcon {
                        width: 40px;
                        height: 40px;
                    }
                }

                .chooseLang {
                    max-width: 500px;

                    /* Smaller screen (mobile) */
                    @media only screen and (max-width: 768px) {
                        width: 35%
                    }

                    /* Larger screen (desktop/tablet) */
                    @media only screen and (min-width: 768px) {
                        width: 30%;
                    }

                    .setLangBtn {
                        width: 100%;
                        cursor: pointer;

                        * {
                            cursor: pointer;

                            &:hover {
                                background-color: initial;
                            }

                            .MuiTouchRipple-root {
                                display: none;
                            }
                        }
                    }
                }
            }

            .text {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                /* Smaller screen (mobile) */
                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 10px;
                }

                /* Larger screen (desktop/tablet) */
                @media only screen and (min-width: 768px) {
                    flex-direction: row;
                    gap: 70px
                }

                .input {

                    /* Smaller screen (mobile) */
                    @media only screen and (max-width: 768px) {
                        width: 90%;
                    }

                    /* Larger screen (desktop/tablet) */
                    @media only screen and (min-width: 768px) {
                        width: 30%;
                    }

                    max-width: 500px;
                    height: 100%;

                    * {
                        font-family: v.$font-text;
                        font-size: 1.2rem;
                    }
                }
            }

            .init {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1px;
                width: 85%;

                &>* {
                    width: 100%;
                }
            }

            .translated {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1px;
                width: 85%;

                &>* {
                    width: 100%;
                }
            }

            .swap {
                .swapBtn {

                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                    border-radius: 10px;

                    .swapIcon {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

    }
}